Repository rail-pay/rail, changes with the labels that .github/labeler.yaml gives for each.
All labels: documentation, ci, test, build, contracts, client, join-server, default-join-server, subgraph

build: remove bash script linting
  .github/workflows/ci.yaml
Labels: ci

build: remove broken yml
  .github/workflows/dependency-review.yaml
Labels: ci

build: simplify ci.yaml to get CI to run in PR
  .github/workflows/ci.yaml
Labels: ci

build: get CI to run
  .github/workflows/ci.yaml
Labels: ci

fix: downgrade node to work around hardhat bug
  .nvmrc
  packages/default-join-server/.nvmrc
Labels: default-join-server

test: fix contract tests to work with hardhat-toolbox
  packages/contracts/test/contracts/BanModule.test.ts
  packages/contracts/test/contracts/LimitWithdrawModule.test.ts
  packages/contracts/test/contracts/Vault.test.ts
  packages/contracts/test/contracts/VaultFactory.test.ts
Labels: test, contracts

test: fix join-server test
  packages/join-server/src/domain/Chain.js
  packages/join-server/test/domain/Chain.test.js
Labels: test, join-server

feat: more "data union" -> vault renamings
  packages/client/README.md
  packages/client/package.json
  packages/client/src/Vault.ts
  packages/client/test/unit/deploy.test.ts
  packages/client/test/unit/fees.test.ts
  packages/client/test/unit/gasPriceStrategy.test.ts
  packages/client/test/unit/getters.test.ts
  packages/client/test/unit/join.test.ts
  packages/client/test/unit/member.test.ts
  packages/client/test/unit/metadata.test.ts
  packages/client/test/unit/setup.ts
  packages/client/test/unit/stats.test.ts
  packages/client/test/unit/transfer.test.ts
  packages/client/test/unit/withdraw.test.ts
  packages/config/chains.json
  packages/contracts/contracts/LeaveConditionCode.sol
  packages/contracts/contracts/modules/BanModule.sol
  packages/contracts/src/exports.ts
  packages/contracts/test/contracts/BanModule.test.ts
  packages/contracts/test/contracts/LimitWithdrawModule.test.ts
  packages/contracts/test/contracts/Vault.test.ts
  packages/default-join-server/README.md
  packages/default-join-server/test/unit/OnMemberJoin.test.js
  packages/join-server/README.md
  packages/join-server/src/app/JoinRequestService.js
  packages/join-server/src/app/JoinServer.js
  packages/join-server/test/app/JoinRequestService.create.test.js
  packages/join-server/test/rest/JoinHandler.test.js
  packages/subgraph/README.md
  packages/subgraph/package.json
  packages/subgraph/subgraph.gnosis.production.yaml
  packages/subgraph/test/integration.ts
Labels: test, build, contracts, client, join-server, default-join-server, subgraph

feat: rename admin -> operator
  packages/client/README.md
  packages/client/src/RailClient.ts
  packages/client/src/Vault.ts
  packages/client/test/unit/deploy.test.ts
  packages/client/test/unit/fees.test.ts
  packages/client/test/unit/join.test.ts
  packages/client/test/unit/member.test.ts
  packages/client/test/unit/metadata.test.ts
  packages/client/test/unit/stats.test.ts
  packages/client/test/unit/transfer.test.ts
  packages/client/test/unit/withdraw.test.ts
  packages/contracts/README.md
  packages/contracts/contracts/Vault.sol
  packages/contracts/contracts/VaultFactory.sol
  packages/contracts/test/contracts/LimitWithdrawModule.test.ts
  packages/contracts/test/contracts/Vault.test.ts
  packages/contracts/test/contracts/VaultFactory.test.ts
  packages/default-join-server/README.md
  packages/default-join-server/src/CustomRoutes.js
  packages/default-join-server/test/unit/CustomRoutes.test.js
  packages/subgraph/abis/Vault.json
  packages/subgraph/abis/VaultFactory.json
Labels: test, contracts, client, default-join-server, subgraph

test: fix and re-enable client packaging test
  packages/client/package.json
  packages/client/test/exports/package.json
  packages/config/chains.json
Labels: test, client

.github/labeler.yaml:

---
#
# Tags by conventional commit prefix
#
documentation:
  - "LICENSE*"
  - "*.md"
  - "**.md"
ci:
  - ".github/*"
  - ".github/**"
  - ".yamllint"
test:
  - "packages/client/test/**"
  - "packages/contracts/test/**"
  - "packages/default-join-server/test/**"
  - "packages/join-server/test/**"
build:
  - ".gitignore"
  - "Makefile"
  - "release*.bash"
  - "packages/client/Makefile"
  - "packages/contracts/Makefile"
  - "packages/join-server/Makefile"
  - "package.json"
  - "package-lock.json"
  - "packages/client/package.js"
  - "packages/default-join-server/package.json"
  - "packages/subgraph/package.json"
  - "packages/contracts/package.json"
#
# Tags per npm package and conventional commit scope.
#
contracts:
  - "packages/contracts/*"
  - "packages/contracts/**"
client:
  - "packages/client/*"
  - "packages/client/**"
join-server:
  - "packages/join-server/*"
  - "packages/join-server/**"
default-join-server:
  - "packages/default-join-server/*"
  - "packages/default-join-server/**"
subgraph:
  - "packages/subgraph/*"
  - "packages/subgraph/**"
